# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build files
examples/chat/chat_server
examples/echo/echo_server
examples/echo-secure/echo_server
examples/timed/timed_server

# Resource files
examples/echo-secure/echo-secure.key
examples/echo-secure/echo-secure.crt

# Debug files
*.dSYM

# Mac OS X
.DS_Store
